#topimage {
  background-image: url(images/herofilter.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#slogan {
	font-style: italic;
}

.header-menu {
  font-size:24px;
  font-family: Roboto, san-serif;
}

#introtext {
  text-align: center;
}

h1 {

  font-family: "Roboto Slab", serif;

}

h2 {
  text-transform: uppercase;
  font-family: "Roboto", san-serif;
}

ul { 
  text-align: center; 
  list-style-type: none;
  font-family: "Open Sans", san-serif;
} 
