
#topimage {
	background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

#slogan {
	font-style: italic;
}

.header-menu {
  font-size:24px;
  font-family: Roboto, san-serif;
}

h1 {

  font-family: "Roboto Slab", serif;

}

h2 {
  text-transform: uppercase;
  font-family: "Roboto", san-serif;
}

ul { 
  text-align: center; 
  list-style-type: none; 
} 
